@import "../../assets/scss/variables.scss";

.dropdown {
  margin: 5px 0;
  width: $percent-100;
  position: relative;
  &__title {
    color: $color9;
    font-weight: bold;
    font-size: 14px;
  }
  &__content {
    color: $color7;
    font-size: 12px;
    .err {
      border: 1px solid $color6;
    }
    .err:hover {
      border: 1px solid $color6;
    }
  }
}
.dropdown__select {
  width: $percent-100;
  padding: 13px 22px 13px 10px;
  @extend %border-radius;
  border: 1px solid $color5;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.dropdown__select:hover {
  border: 1px solid $color1;
}
.dropdown__list {
  position: absolute;
  width: $percent-100;
  max-height: 200px;
  overflow: auto;
  top: 85px;
  z-index: 2;
  border: 1px solid $color5;
  @extend %border-radius;
  background-color: $color8;
  &--item {
    width: $percent-100;
    padding: 13px 10px 13px 10px;
  }
  &--item:hover {
    color: $color1;
    font-weight: bold;
  }
}
