@import "../../assets/scss/variables.scss";
.form {
  .login__icon {
    margin-left: 18px;
  }
  .formDivSpan {
    width: $percent-100;
    height: 20px;
    border-bottom: 1px solid $color5;
    text-align: center;
    margin-bottom: 10px;
  }
  .formSpan {
    color: $color7;
    background-color: $color8;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 14px;
  }
}
footer {
  font-size: 12px;
  .text__color {
    color: $color1;
    font-weight: bold;
  }
}
