@import "../../../assets/scss/variables.scss";
$color-black: #000000;
.menu {
  .title {
    text-align: $type-center;
    margin: 5px;
    .iconMenu {
      margin: 5px 0 0 5px;
    }
  }
  .dropdown {
    @extend %display-flex;
    flex-direction: column;
    text-align: $type-center;
    a {
      color: $color-black;
      text-decoration: none;
    }
  }
}
