@import "../../../assets/scss/variables.scss";
.footer__mobile {
  margin-bottom: 72.45px;
  height: auto;
  width: $percent-100;
  background-color: $color3;
  padding: 15px;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      &__icon {
        width: 45px;
        height: 45px;
        border-radius: 16px;
      }
    }
    .shop__name {
      font-weight: bold;
    }
    .social {
      height: 30px;
      width: 30px;
      margin-right: 15px;
      cursor: pointer;
    }
  }
  .brands {
    @extend %display-flex;
    justify-content: center;
  }
  h6 {
    font-weight: bold;
  }
  p {
    font-size: 12px;
  }
}
