@import "../../assets/scss/variables.scss";
.input {
  width: $percent-100;
  font-size: 12px;
  .content__input {
    display: flex;
    align-items: center;
    svg {
      position: absolute;
      text-align: center;
      margin-left: 18px;
    }
    input {
      width: $percent-100;
      padding: 13px 10px 13px 46px;
      @extend %border-radius;
      outline: none;
      border: 1px solid $color5;
      margin: 5px 0 5px 0px;
    }
    input:hover {
      border: 1px solid $color1;
    }
    .err {
      border: 1px solid $color6;
    }
    .err:hover {
      border: 1px solid $color6;
    }
  }
  span {
    color: $color9;
    font-weight: bold;
    font-size: 14px;
  }
  p {
    color: $color6;
    letter-spacing: 0.5px;
    margin: 0px 0px 0px 5px;
    font-weight: bold;
    @extend %font-main;
  }
}
