@import "../../assets/scss/variables.scss";
.form {
  .error {
    color: $color6;
    letter-spacing: 0.5px;
    margin-left: 5px;
    font-weight: bold;
    @extend %font-main;
    font-size: 12px;
  }
  .err__icon {
    path {
      fill: $color6;
    }
  }
  .formDivSpan {
    width: $percent-100;
    height: 20px;
    border-bottom: 1px solid $color5;
    text-align: center;
    margin-bottom: 10px;
  }
  .formSpan {
    color: $color7;
    background-color: $color8;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 14px;
  }
}
footer {
  font-size: 12px;
  margin-top: 24px;
  .text__color {
    color: $color1;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
}
