@import "../../../assets/scss/variables.scss";

.img-cart {
  width: 138px;
  height: auto;
  margin-left: 47px;
  border-radius: 7px;
}
.table-desktop {
  padding: 0 104px;
}

.table-product {
  td {
    padding: 115px 0;
  }
  .td-price {
    padding-top: 120px;
  }
  tr {
    border-bottom: 2px solid $color16;
  }
  th {
    padding: 62px 0 52px 0;
    .btn-del {
      border: none;
      color: $color2;
      cursor: pointer;
      border-radius: 50%;
    }
    p {
      display: inline;
      margin-left: 28px;
    }
  }
}
