@import "../../../assets/scss/variables.scss";
tr {
  border-bottom: 2px solid $color16;
}
th {
  padding: 62px 0 52px 0;
  .btn-del {
    border: none;
    color: $color2;
    cursor: pointer;
    border-radius: 50%;
  }
  p {
    display: inline;
    margin-left: 28px;
  }
}
