@import "../../assets/scss/variables.scss";

.address-item{
    border: 1px solid $color5;
    @extend %border-radius ;
    p{
        padding-bottom:16px;
        margin: 0;
        line-height: 180%;
    }
    &__name{
        color:$color9 ;
        font-size: 14px;
        font-weight: bold;
    }
    &__address,&__phone{
        color:$color7 ;
        font-size: 12px;
    }
    &__button{
        &--left{
            width: 77px;
            height: 57px;
            font-size: 14px;
        }
        &--right{
            width: 77px;
            path{
                stroke:$color7;
            }
        }
        &--right:hover{
            path{
                stroke:$color1;
            }
        }
    }
}
.address-item:hover{
    border: 1px solid $color1;
}