@import "../../../assets/scss/variables.scss";

.table-mobile {
  padding: 16px;
  .row {
    margin-top: 16px;
  }
}

.icon,
.btn-group-mobile {
  float: right;
}

.product-name {
  font-weight: 700;
}

.heart-mobile {
  margin-right: 16px;
}

.list-img-product {
  width: $percent-100;
  height: auto;
}

@media screen and(max-width:576px) {
  .product-name,
  .fontsize-mobile {
    font-size: 12px;
  }
}
