@import "../../assets/scss/variables.scss";

$color-focus: #33a0ff;

button {
  text-align: center;
  width: $percent-100;
  height: 57px;
  background-color: $color1;
  box-shadow: 0px 10px 30px $color10;
  @extend %border-radius;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: $color8;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
button:focus {
  opacity: 1;
  background-color: $color-focus;
  outline: 0;
}
.disabled {
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  button {
    width: $percent-100;
    height: 65px;
    border-radius: 10px;
    font-size: 18px;
  }
}
