@import "../../../assets/scss/variables.scss";
$color-rating: #ffc600;
$color-yellow: #fff600;
$color-blue: #006cff;
$color-red: #fc3e39;
$color-black: #171717;

.breadcrumbs {
  width: $percent-100;
  height: 51px;
  font-size: 18px;
  background-color: $color16;
  i {
    margin: 8px;
  }
  .text {
    color: $color14;
  }
  span {
    text-shadow: -1px 3px 2px $color17;
  }
}
.product {
  margin-top: 42px;
  padding: 0 8%;
  &__detail {
    width: 76%;
    padding: 0 25px;
    .property {
      width: $percent-100;
      .group {
        padding-bottom: 16px;
        border-bottom: 3px solid $color16;
        .product__name {
          font-size: 23px;
          font-weight: 600;
          color: $color15;
        }
        .review {
          color: $color12;
          margin: 0 13px;
        }
        .submit__review {
          color: $color14;
        }
        p {
          margin: 0;
        }
        .rating-yellow {
          margin: 0 5px 2px 0;
          path {
            fill: $color-rating;
          }
        }
        .current-price {
          color: $color1;
          font-size: 20px;
          font-weight: bold;
          line-height: 180%;
        }
        .price {
          font-size: 14px;
          color: $color7;
          text-decoration-line: line-through;
        }
        .sale {
          font-size: 14px;
          color: $color6;
          font-weight: bold;
        }
        .type {
          display: inline-block;
          width: 140px;
          min-width: 140px;
        }
        .form-select {
          width: auto;
          min-width: 100px;
        }
        .color {
          height: 16px;
          width: 16px;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          .select--color {
            position: absolute;
            top: -4px;
            left: -4px;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            opacity: 0.5;
          }
        }
      }
      .btn {
        border-radius: 4px;
        &__number {
          align-items: center;
          display: flex;
          width: 123px;
          padding: 0;
          background: $color16;
          span {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 33%;
            height: 100%;
            color: $color14;
            font-weight: bold;
            cursor: pointer;
          }
        }
        &__add-to-cart {
          color: $color14;
          background: $color18;
          padding: 12px 15px;
        }
        &__love {
          background: $color18;
          padding: 12px 15px;
        }
        &__facebook {
          width: 49%;
          height: 45px;
          color: $color11;
          background: $color19;
        }
        &__twitter {
          width: 49%;
          height: 45px;
          color: $color11;
          background: $color20;
        }
      }
      .icon {
        &__facebook {
          width: 20px;
          height: 20px;
        }
        path {
          fill: $color11;
        }
      }
    }
  }
  .best-seller {
    width: 277px;
  }
}
.related-product-container {
  margin-bottom: 70px;
  .products {
    padding: 0 7%;
  }
}
.color--yellow {
  background-color: $color-yellow;
}
.color--blue {
  background-color: $color-blue;
}
.color--red {
  background-color: $color-red;
}
.color--black {
  background-color: $color-black;
}

@media only screen and (max-width: 992px) {
  .product {
    &__detail {
      width: $percent-100;
      .swiper {
        width: 45%;
      }
    }
    .best-seller {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .product {
    &__detail {
      .information {
        &__header {
          h6 {
            font-size: 16px;
          }
        }
        &__content {
          padding-right: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .breadcrumbs {
    display: flex;
    justify-content: center;
    position: relative;
    .text,
    i {
      display: none;
    }
    .icon-back {
      position: absolute;
      width: 15px;
      height: 15px;
      background: url("../../../assets/images/icon_left.svg") no-repeat;
      background-size: contain;
      margin-left: 16px;
      cursor: pointer;
      left: 5px;
    }
  }
  .product {
    margin: 30px 0;
    padding: 0;
    &__detail {
      padding: 0;
      .swiper {
        width: $percent-100;
        padding: 0;
        .carousel {
          height: 45vh;
          img {
            height: 90%;
            width: $percent-100;
          }
        }
        .thumb {
          display: none;
        }
      }
      .property {
        padding: 16px;
      }
    }
  }
  .related-product-container {
    margin-bottom: 30px;
    .products {
      padding: 0 16px;
      & > * {
        margin-right: 20px;
      }
    }
  }
  .btn-groups button {
    height: auto;
  }
}
