@import "../../../assets/scss/variables.scss";
$margin-left-md: 60px;
$margin-left-lg: 100px;

.carousel__item {
  position: relative;
  font-size: $font_size-item;
  font-weight: bolder;
  color: $color8;
  img {
    width: $percent-100;
    height: auto;
    object-fit: cover;
    @extend %border-radius;
  }
  p {
    position: absolute;
    top: 20%;
    width: 60%;
    margin-left: $font_size-item;
  }
  .time {
    position: absolute;
    bottom: 12%;
    margin-left: $font_size-item;
    &__content {
      background-color: $color8;
      font-size: 18px;
      padding: 5px;
      color: $color9;
      @extend %border-radius;
    }
    &__space {
      padding: 4px;
      font-size: $font_size-header;
    }
  }
}

.swiper-container {
  display: flex;
  flex-direction: column;
  .swiper-pagination {
    margin-top: 10px;
    order: 2;
    position: relative;
    span {
      background-color: $color1;
    }
  }
}

@media only screen and (max-width: 576px) {
  .carousel__item {
    img {
      max-height: 250px;
    }
  }
}

@media only screen and (min-width: 576px) {
  .carousel__item {
    img {
      max-height: 350px;
    }
    p {
      font-size: 40px;
    }
    .time {
      &__space {
        font-size: $font_size-item;
      }
      &__content {
        font-size: $font_size-item;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .carousel__item {
    img {
      max-height: 400px;
      border-radius: 0;
    }
    p {
      width: 40%;
      margin-left: $margin-left-md;
    }
    .time {
      display: none;
      margin-left: $margin-left-md;
    }
  }
}
@media only screen and (min-width: 992px) {
  .carousel__item {
    img {
      max-height: 600px;
    }
    p {
      font-size: 64px;
      margin-left: $margin-left-lg;
    }
  }
}
