@import "../../assets/scss/variables.scss";

.input-profile{
    .content__input{
        input{
            padding-left: 10px;
            font-weight: bold;
            color: $color7;
            font-size: 12px;
        }
    }
}
.email-profile, .phone-profile{
    .content__input{
        input{
            font-weight: bold;
            color: $color7;
            font-size: 12px;
        }
    }
}
.date-profile{
    display: flex;
    position: relative;
    align-items: center;
    .date-icon{
        position: absolute;
        right: 15px;
        bottom: 20px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        z-index: 2;
    }
}
.date-profile:hover{
    .date-icon{
        path {
            stroke: $color1;
        }
    }
}
.date{
    input{
        background-color: $color8;
    }
}

.email-profile:hover{
    .email-icon{
        path {
            fill: $color1;
        }
    }
}

.phone-icon{
    path {
        stroke:  $color7;
    }
}
.phone-profile:hover{
    .phone-icon{
        path {
            stroke: $color1;
        }
    }
}