@import "../../../../assets/scss/variables.scss";
$color-rating: #ffc600;
.best--seller {
  h6 {
    color: $color12;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .swiper__best--seller {
    border: 3px solid $color16;
    padding-bottom: 20px;
    img {
      width: 280px;
      height: auto;
    }
    .rating {
      text-align: center;
      margin-top: 50px;
      .rating-yellow {
        margin: 0 5px 2px 0;
        path {
          fill: $color-rating;
        }
      }
    }
    .price {
      justify-content: center;
      p:first-child {
        color: $color2;
      }
      p:last-child {
        color: $color12;
        text-decoration: line-through;
      }
    }
  }
}
