@import "../../assets/scss/variables.scss";


.profile__header{
    margin: 24px 0px 32px 18px;
    &--left{
        img{
            width: 72px;
            height: 72px;
            border-radius: 50%;
        }
    }
    &--right{
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name{
            font-weight: bold;
            font-size: 14px;
            color: $color9;
            margin-bottom: 5px;
        }
        .username{
            margin: 0;
            font-size: 12px;
            color:$color7 ;
        }
    }
}
.profile__button{
    margin: 10px 19px 0px 19px;
}

.profile-item{
    padding: 19px 0 19px 19px;
    position: relative;
    cursor: pointer;
    svg{
        margin-right:19px;
    }
    .email, .password{
        path {
            fill: $color1;
        }
    }
    span{
        font-size: 12px;
    }
    &__title{
        font-weight: bold;
        font-size: 12px;
        color: $color9;
    }
    &__content{
        right: 19px;
        position: absolute;
        font-size: 12px;
        color: $color7;
    }
}
.profile-item:hover{
    background-color: $color5;
}
