@import "../../assets/scss/variables.scss";

.container-confirm{
    position: relative;
    .pop-confirm{
        z-index: 2;
        position: absolute;
        top: -170px;
        left: -46px;
        background-color:$color8 ;
        padding: 10px 15px;
        @extend %border-radius;
        display: inline;
        border: 1px solid $color5;
    }
    p{
       color: $color9;
        span{
            background-color: $color6;
            padding: 0  7px;
            border-radius: 50%;
            font-size: 12px;
            color: $color8;
            margin-right: 5px;
        }
    }
    .pop-confirm:before {
        position: absolute;
        z-index: -1;
        content: "";
        right: calc(50% - 10px);
        bottom: -17px;
        border-style: solid;
        border-width: 8px;
        border-color: transparent transparent $color12 transparent;
        transition-duration: 0.3s;
        transform: rotate(180deg);
      }
}

.pop-confirm--button{
    display: grid;
    justify-content: end;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    button{
        width: fit-content;
        height: fit-content;
        font-size: 12px;
        padding: 5px 10px;
        @extend %border-radius ;
    }
    .pop-confirm--cancel{
        background-color: $color8;
        color: $color7;
        border: 1px solid $color5;
    }
}