@import "../../../assets/scss/variables.scss";

.navbar-bottom {
  overflow: hidden;
  background-color: $color11;
  position: fixed;
  bottom: 0;
  width: $percent-100;
  border: 1px solid rgba(235, 240, 255, 1);
  z-index: 10;
  a {
    float: left;
    display: block;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.063rem;
    .home,
    .explore,
    .cart,
    .offer,
    .account {
      stroke: $color7;
      margin: 0;
    }
    .account {
      stroke-width: 0.5;
    }
  }
}
