@import "../../../assets/scss/variables.scss";

.input-field {
  width: $percent-100;
  margin-left: 1em;
  margin-top: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 2.5em;
  border: 1px solid rgba(235, 240, 255, 1);
  @extend %border-radius;
}

.explore-input {
  width: 16px;
  height: 16px;
  stroke: #40bfff;
  margin-top: 2em;
  margin-left: 2.063em;
  position: absolute;
}
