@import "../../../../assets/scss/variables.scss";
.information-product {
  width: 100%;
  height: fit-content;
  background: $color21;
  padding: 30px;
  margin-top: 20px;
  &__header {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid $color23;
    h6 {
      font-size: 18px;
      margin: 0 10% 0 0;
      color: $color9;
      &:first-child {
        color: $color22;
      }
    }
  }
  &__content {
    font-size: 12px;
    color: $color7;
    padding-right: 100px;
    text-align: left;
  }
}

@media only screen and (max-width: 576px) {
  .information-product {
    &__header h6 {
      margin-right: 40px;
    }
    &__content {
      padding-right: 0;
      text-align: justify;
    }
  }
}
