@import "../../assets/scss/variables.scss";

.header-title{
    font-family: $font_family-main;
    font-size: 16px;
    line-height: 150%;
    padding: 26px 0 28px 16px;
    border-bottom: 1px solid $color5;
    margin: 0;
    color: $color9;
    font-weight: bold;
    svg{
        margin: 0px 21px 3px 9px;
    }
}
