@import "../../assets//scss//variables.scss";

.logo-name {
  margin-left: 6px;
  font-size: 1.125em;
  font-family: $font_family-main;
  font-weight: 700;
  line-height: 27px;
}

.logo-home {
  width: 44px;
  height: 44px;
}
