@import "../../assets//scss//variables.scss";

.container-fluid {
  padding:26px 140px 26px 104px;

  .list-menu {
    font-size: $font_size-item;
    color: $color13;
    text-transform: uppercase;
    font-family: $font_family-main;
    font-style: normal;
  }

  .list-menu:hover {
    color: $color1;
  }

  .dropdown-navbar {
    display: none;
    position: absolute;
    background-color: $color11;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: $color12;
      padding: 10px 10px;
      font-size: 22px;
      font-family: $font_family-main;
      font-weight: 500;
      text-decoration: none;
      display: inline-block;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 992px) {
  .container-fluid {
    padding:26px 40px 26px 50px;
    .list-menu {
      margin-left: 1.8rem;
    }
    .ul:hover .dropdown-navbar {
      display: block;
      width: 550px;
      margin-left: -100px;
    }
  }
}

@media screen and (min-width: 992px) {
  .container-fluid {
    .list-menu {
      margin-left: 2.5rem;
    }
    .ul:hover .dropdown-navbar {
      display: block;
      width: 700px;
      margin-left: -200px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .list-menu {
    margin-left: 4rem;
  }
  .ul:hover .dropdown-navbar {
    display: block;
    width: 900px;
    margin-left: -300px;
  }
}

@media screen and (min-width: 1500px) {
  .list-menu {
    margin-left: 6.125rem;
  }
  .ul:hover .dropdown-navbar {
    display: block;
    width: 1000px;
    margin-left: -300px;
  }
}
