@import "../../../assets/scss/variables.scss";

.form-voucher {
  .voucher-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 250px;
  }
}

.btn-voucher {
  background-color: $color1;
  color: $color11;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 18px 21px;
  width: 110px;
}

@media screen and(max-width:576px) {
  .form-voucher {
    .voucher-input {
      width: $percent-100;
      font-size: 12px;
    }
    .btn-voucher {
      font-size: 12px;
    }
  }
}
