.checkout {
  justify-content: space-between;
  align-items: flex-start;
  margin: 90px 0px 156px;
  padding: 0px 104px;
}

@media screen and(max-width:576px) {
  .checkout {
    padding: 0px;
    margin-top: 32px;
  }
}
