@import "../../assets/scss/variables.scss";
.form {
  .error {
    color: $color6;
    letter-spacing: 0.5px;
    margin-left: 5px;
    font-weight: bold;
    @extend %font-main ;
    font-size: 12px;
  }
  .err__icon{
    path {
      fill: $color6;
    }
  }
  .emailSent{
    span{
      color: $color1;
    }
  }
}

