@import "../../../../assets/scss/variables.scss";

.swiper {
  width: 45%;
  padding-right: 38px;
  .carousel {
    margin: 0;
    img {
      // height: 80%;
      // width: 100%;
      width: 300px;
      height: 80%;
    }
  }
  .thumb {
    margin-top: 90px;
    img {
      height: $percent-100;
      width: $percent-100;
    }
  }
}
.swiper-container {
  display: flex;
  flex-direction: column;
  .swiper-pagination {
    order: 2;
    position: relative;
    span {
      background-color: $color1;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .swiper .carousel {
    img {
      width: 245px;
      height: 80%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .swiper-pagination {
    margin-top: -20px;
  }
}
