@import "../../../assets/scss/variables.scss";
.flash-sale {
  padding-bottom: 90px;
  margin-top: 25px;
  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    color: $color15;
  }
  &__content {
    cursor: pointer;
  }
  .load-more {
    font-weight: 600;
    color: $color14;
    border-bottom: 2px solid $color14;
    width: fit-content;
    margin: auto;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .flash-sale {
    padding-bottom: 0;
  }
}
