@import "../../../assets/scss/variables.scss";

.information-payment {
  margin: 100px 0;
  .icon {
    min-height: 85px;
  }
}

.item-payment {
  text-align: center;
  color: $color15;
  &__title {
    font-weight: 500;
    font-size: 27px;
    margin-top: 54px;
    margin-bottom: 11px;
  }
  &__content {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .information-payment {
    margin: 50px 0;
  }
  .itemPayment {
    &__title {
      font-size: 18px;
      margin-top: 30px;
    }
    &__content {
      font-size: $font_size-header;
    }
    svg {
      width: 90px;
      height: 50px;
    }
  }
}
