@import "../../../assets/scss/variables.scss";

.form-address{
    .input-address{
        padding-top: 16px;
        .content__input{
            input{
                padding-left: 10px;
                font-weight: bold;
                color: $color7;
            }
        }
    }
    .add-address-button{
        margin-top: 20px;
    }
}
