@import "../../../assets/scss/variables.scss";

.banner {
  background-color: $color1;
  padding: 162px 60px;
  color: $color8;
  font-family: $font_family-main;
  position: relative;
  &__content {
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 82px;
    }
    &--title {
      line-height: 36px;
      font-size: $font_size-item;
      margin-bottom: $font_size-main;
    }
    &--information {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 4px;
    }
    .hr {
      background-color: $color8;
      height: 3px;
      width: 73px;
    }
  }
  img {
    width: 50%;
    height: auto;
    top: -70px;
    right: 0;
    position: absolute;
  }
}

@media only screen and (max-width: 992px) {
  .banner {
    padding: 100px 60px;
    &__content {
      h3 {
        font-size: 30px;
        line-height: 40px;
      }
      &--title {
        line-height: 30px;
        font-size: $font_size-item;
        margin-bottom: $font_size-main;
      }
      &--information {
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 4px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    display: none;
  }
}
