@import "../../assets//scss//variables.scss";

.menu-left{
    &__content{
        color:$color13;
        margin-right: 13px;
        cursor: pointer;
        span{
            font-size: 20px;
            padding-right: 6px;
        }
    }
}