@import "../../assets//scss//variables.scss";
$color-icon: #22262a;

.profile {
  font-size: 20px;
  .link-profile {
    .my-profile {
      margin-right: 7px;
    }
    text-decoration: none;
    color: $color13;
    font-weight: 400;
  }
  .link-profile:hover {
    color: $color1;
  }
}

.cart {
  margin: 0 0 0 35px;
  display: flex;
  text-decoration: none;
  font-size: 14px;

  .cart-top-menu {
    stroke: $color-icon;
  }

  span {
    color: $color13;
    font-size: 18px;
  }

  span.items {
    margin: 0 25px;
  }

  span.total {
    background-color: $color6;
    font-weight: bold;
    font-size: 10px;
    color: $color8;
    right: -10px;
    bottom: 16px;
    padding: 3px 5px;
  }

  .amount {
    color: $color7;
    cursor: pointer;
    margin-right: 7px;
  }
}
