@import "../../assets/scss/variables.scss";
.container {
  height: 100vh;
  width: 100vw;
  @extend %display-flex;
  align-items: $type-center;
  padding: 0px;
  justify-content: $type-center;
  .content {
    background-color: $color1;
    width: 400px;
    height: $percent-100;
    @extend %display-flex;
    align-items: $type-center;
    justify-content: $type-center;
  }
}
