@import "../../assets/scss/variables.scss";
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: $percent-100;
  height: $percent-100;
  background-color: $color12;
  opacity: 0.5;
  &__content {
    width: $percent-100;
    height: $percent-100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: absolute;
    img {
      width: 100px;
      height: 100px;
    }
  }
}
