@import "../../assets/scss/variables.scss";

.btn-groups {
  display: flex;
  button {
    color: $color13;
    background-color: $color16;
    cursor: pointer;
    float: left;
    box-shadow: none;
    height: 46px;
    border-radius: 0;
    letter-spacing: 0;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }
  .btn-decre,
  .btn-incre {
    color: $color1;
  }
  .sum-value {
    font-weight: 400;
  }
}

@media screen and (max-width: 576px) {
  .btn-groups {
    button {
      padding-left: 15px;
      padding-right: 15px;
      height: 22px;
      font-size: 12px;
    }
  }
}
