@import "../../assets/scss/variables.scss";
$color-navy: #223263;
.layout {
  width: $percent-100;
  min-height: 100vh;
  max-width: 450px;
  justify-content: center;
  flex-direction: column;
  padding: 50px 12px;
  box-sizing: border-box;
  .header {
    .welcome {
      color: $color-navy;
      @extend %font-main;
      font-weight: bold;
      font-size: 16px;
      margin-top: 16px;
    }
    .title {
      color: &color7;
      font-size: 12px;
      margin: 15px 0;
    }
  }
}
