@import "../../assets/scss/variables.scss";
.brands {
  @extend %display-flex;
  justify-content: flex-end;
  align-items: $type-center;
  margin-top: 20px;
  .item:not(:last-child) {
    margin-right: 20px;
  }
}
