@import "../../../../assets/scss/variables.scss";
.related-product {
  .title {
    font-weight: 600;
    color: $color15;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 576px) {
  .related-product {
    margin-bottom: 20px;
    .title {
      font-size: 18px;
      margin: 0;
    }
    .products {
      overflow-x: scroll;
      flex-wrap: nowrap;
      .product {
        margin: 0;
      }
    }
    .products::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .related-product {
    .information {
      padding: 0 10px;
      &__rating svg {
        margin: 5px;
      }
    }
  }
}
