@import "../../assets/scss/variables.scss";

.account-content {
  font-weight: bold;
  max-width: 576px;
  width: $percent-100;
  height: 100vh;
  .account-item {
    padding: 19px 0 19px 19px;
    cursor: pointer;
    svg {
      margin: 0 19px 0 0;
    }
    .profile-icon {
      path {
        fill: $color1;
      }
    }
    span {
      font-size: 12px;
      color: $color9;
    }
  }
  .account-item:hover {
    background-color: $color5;
  }
}
@media only screen and (min-width: 576px) {
  .navbar-bottom {
    display: none;
  }
}
