@import "../../../assets/scss/variables.scss";

.table-borderless {
  td {
    float: right;
    padding-bottom: 24px;
  }
  th {
    font-weight: 400;
    padding-bottom: 24px;
  }
  .tr-total {
    border-top: 2px solid $color12;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    th {
      padding-top: 24px;
    }
  }
}

.btn-checkout {
  background-color: $color1;
  color: $color11;
  width: $percent-100;
  padding: 16px 100px;
  @extend %border-radius;
}

@media screen and(max-width:576px) {
  .btn-checkout {
    font-size: 12px;
  }
}
