@import "../../assets/scss/variables.scss";
$color-rating: #ffc600;

.product {
  &__content {
    font-weight: bold;
    min-width: 141px;
    border: 1px solid $color5;
    font-size: $font_size-main;
    @extend %border-radius;
    line-height: 150%;
    font-family: $font_family-main;
    padding: $padding-main;
    img {
      width: $percent-100;
      height: auto;
    }
  }
}
.information {
  &__name {
    color: $color9;
  }
  &__rating {
    svg {
      margin: 4px 2px 16px 0px;
    }
    .rating-yellow {
      path {
        fill: $color-rating;
      }
    }
  }
  &__currentPrice {
    color: $color1;
    line-height: 180%;
  }
  &__sale {
    font-size: 10px;
    .priceMd {
      display: none;
    }
    &--left {
      color: $color7;
      text-decoration-line: line-through;
    }
    &--right {
      color: $color6;
    }
  }
}

@media only screen and (min-width: 768px) {
  .product {
    &__content {
      padding: 0px;
      padding-bottom: $padding-main;
    }
  }
  .information {
    text-align: center;
    &__rating {
      svg {
        margin: 4px 13px 11px 0px;
      }
    }
    &__currentPrice {
      display: none;
    }
    &__sale {
      justify-content: center;
      .priceMd {
        color: $color1;
        margin-right: 13px;
        display: inline;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .information {
    &__sale {
      font-size: $font_size-main;
      .priceMd {
        font-size: $font_size-header;
      }
    }
  }
}
