@import "../../assets/scss/variables.scss";
.authentication {
  margin: 10px 0;
  border: 1px solid $color5;
  @extend %border-radius ;
  .title {
    color: $color7;
    font-weight: bold;
    font-size: 14px;
  }
}
