@import "../../../assets/scss/variables.scss";
$color-line: #f6f7f8;
$line-height-1: 27px;
$line-height-2: 21px;
.footer {
  width: $percent-100;
  height: 680px;
  background-color: $color3;
  padding: 150px 134px 0;
  .row {
    .col {
      @extend %display-flex;
      flex-direction: column;
      .logo {
        &__box {
          @extend %display-flex;
          align-items: $type-center;
          margin-bottom: 16px;
        }
        &__icon {
          height: 39px;
          width: 39px;
          border-radius: 16px;
        }
      }

      h4 {
        line-height: $line-height-1;
        margin-bottom: 30px;
      }
      p {
        font-size: 12px;
      }
      a {
        font-size: 14px;
        text-decoration: none;
        color: $color13;
        line-height: $line-height-2;
      }
      a:hover {
        text-decoration: underline;
      }
      .social {
        margin-right: 30px;
        :hover {
          cursor: pointer;
        }
      }
    }
    .col-2 {
      p {
        font-size: 14px;
        color: $color13;
        line-height: $line-height-2;
      }
    }
  }
  .row-1 {
    span {
      font-size: 18px;
      line-height: $line-height-1;
      font-weight: bold;
      margin: 0 7px;
    }
    h4 {
      font-weight: 500;
    }
    :nth-child(3) {
      margin-right: 50px;
    }
  }
  .row-2 {
    margin: 70px 0 63px 0;
    > div {
      padding-left: 0;
    }
  }
  .line {
    margin: auto;
    width: 96%;
    border: 1px solid $color-line;
  }
}
