@import "../../assets/scss/variables.scss";
$color-gray: #a0a0a0;
$justify-content: space-between;

.success__page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @extend %display-flex;
  justify-content: $type-center;
  flex-direction: column;
  align-items: $type-center;
  width: $percent-100;
  height: 100vh;
  padding: 0 16px;
  .success__box {
    height: 72px;
    width: 72px;
    background-color: $color1;
    box-shadow: 0px 10px 30px $color10;
    border-radius: 56px;
    @extend %display-flex;
    justify-content: $type-center;
    align-items: $type-center;
    .icon__check {
      width: 23px;
      height: 15px;
      background-image: url(../../assets/images/check_mobile.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  h4 {
    margin: 16px 0 8px;
    color: $color9;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
  }
  span {
    font-size: 12px;
    line-height: 180%;
    color: $color9;
    opacity: 0.5;
    margin-bottom: 16px;
  }
  .hidden {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .success__page {
    height: 60%;
    max-height: 718px;
    width: 68%;
    padding-bottom: 20px;
    border-radius: 10px;
    .control {
      width: $percent-100;
      min-width: 80%;
      display: flex;
      justify-content: $justify-content;
      padding: 0 5% 0;
      img {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
      img:hover {
        opacity: 0.7;
      }
    }
    .title {
      color: $color1;
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
    }
    .process {
      width: 155px;
      display: flex;
      position: relative;
      justify-content: $justify-content;
      margin: 49px 0;
      hr {
        width: 155px;
        position: absolute;
        border: 1px solid $color-gray;
        background-color: $color-gray;
        z-index: -1;
      }
      &__box {
        width: 33px;
        height: 33px;
        font-size: 18px;
        color: $color8;
        background-color: $color1;
        display: flex;
        justify-content: $type-center;
        align-items: $type-center;
        border-radius: 50%;
      }
    }
    .success__box {
      height: 120px;
      width: 120px;
      .icon__check {
        width: 45px;
        height: 30px;
        background-image: url(../../assets/images/check_web.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: $type-center;
        background-position-y: $type-center;
      }
    }
    h4 {
      margin: 25px 0 65px 0;
    }
    span {
      display: none;
    }
    .hidden {
      display: flex;
    }
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .success__page {
    height: 718px;
    max-height: 100vh;
    .control {
      padding: 0 10% 0;
    }
  }
}
